version: '3'
services:
  web:
    image: tornado_alpine
    environment:
    - PORT=8888
    - PROJ_CONT=/project_container
    network_mode: "host"
    container_name: "project_container"
    volumes:
     - .:/app
     - /var/log/hello_world:/var/log/
     - /var/run/docker.sock:/var/run/docker.sock